{% set selectedHardwareId = hardware.id ?? null %}
<div class="overflow-y-scroll h-full flex flex-col gap-y-2">
    {# ajouter boutons ajouter, modifier, supprimer #}
    {{ include("_buttons/addButton.html.twig", {route : 'hardwares_add'}) }}
    <p class="text-blue-900">Liste des matériels :</p>
    <hr>
    {% for hardware in hardwares %} {# ajouter index isSelected avec association de l'id pour changer la variation de la classe en cas d'appartition de form pour edit #}
        <a class="{{selectedHardwareId is same as(hardware.id) ? "bg-gray-600 text-white"}}" href="{{path('app_hardwares_detail', {id:hardware.id})}}">{{ hardware.libelle|capitalize }} appartennant à {{ hardware.entreprise|capitalize }}</a>
        <hr>
    {% else %}
        <p>Aucun matériels</p>
    {% endfor %}
</div>