<div class="overflow-y-scroll h-full">
    <div class="overflow-y-scroll h-full flex flex-col gap-y-2 items-center text-gray-600">
    <p>Détails du sous ticket <span class="text-black">{{action.number}}</span> :</p>
    <p>Détails du sous ticket <span class="text-black">{{action.priorité}}</span> :</p>
    <p>Intitule : <span class="text-black">{{action.intitule}}</span></p>
    <p>Description : <span class="text-black">{{action.description}}</span></p>
    <p>Temps passé sur l'intervention du sous-ticket : <span class="text-black">{{action.temps}} H</span></p>
</div>
</div>