<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Atelier Step{% endblock %}</title>
    {% block stylesheets %}{{encore_entry_link_tags("app")}}{% endblock %} 
    {% block javascripts %}{{encore_entry_script_tags("app")}}{% endblock %}
  </head>

  <body class="h-screen w-full">
    {% include("_partials/header.html.twig") %} 
    <main class="flex flex-col h-[90%] w-full p-2">
      {% if app.user %}
      <section class="flex justify-start w-full gap-x-1">
        {# Dashboard button #}
        {{include("_buttons/menuButton.html.twig", {buttonTitle: "Dashboard", route: "home", imgSrc: "table"})}}
        {# Tickets button #}
        {{include("_buttons/menuButton.html.twig", {buttonTitle: "Tickets", route: "tickets", imgSrc: "ticket"})}}
        {# Entreprises button #}
        {{include("_buttons/menuButton.html.twig", {buttonTitle: "Entreprises", route: "entreprises", imgSrc: "entreprise"})}}
        {# Hardwares button #}
        {{include("_buttons/menuButton.html.twig", {buttonTitle: "Matériel", route: "hardwares", imgSrc: "hardware"})}}
        {# Users button #}
        {{ is_granted("ROLE_ADMIN") ? include("_buttons/menuButton.html.twig", {buttonTitle: "Gestion Techniciens", route: "users", imgSrc: "users"})}}
        {# Profile button #}
        {{include("_buttons/menuButton.html.twig", {buttonTitle: "Profil", route: "profile", imgSrc: "profile"})}}
      </section>
      {% endif %}
      <section class="bg-indigo-100 flex h-[95%] w-full p-2 border-2 border-blue-900">
        {# app core location [model A, model B or model C] #}
        {% block app %}{% endblock %}
      </section>
    </main>
  </body>
</html>
