<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %} {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    {% endblock %}
  </head>

  <header>{% include("_partials/header.html.twig") %}</header>

  <body>
    {% if app.user %}
    <main class="flex flex-col h-full w-full fixed p-5">
      <section class="flex justify-start h-[5%] w-full gap-x-1">
        {# Dashboard button #}
        {{
          include("_buttons/menuButton.html.twig", { buttonTitle: "Dashboard" })
        }}
        {# Tickets button #}
        {{
          include("_buttons/menuButton.html.twig", { buttonTitle: "Tickets" })
        }}
        {# Hardwares button #}
        {{
          include("_buttons/menuButton.html.twig", { buttonTitle: "Hardwares" })
        }}
        {# Profile button #}
        {{
          include("_buttons/menuButton.html.twig", { buttonTitle: "Profile" })
        }}
      </section>
      {% include "appBase.html.twig" %}
    </main>
    {% else %} {% block body %}{% endblock %} {% endif %}
  </body>
</html>
